<?xml version="1.0" ?>
<robot name="ur5_assembly" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Namespace argument for multi-robot support -->
<xacro:arg name="robot_namespace" default="" />
<xacro:property name="robot_namespace" value="$(arg robot_namespace)" />

<link name="camera_base">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.1"/>
    <inertia 
        ixx="0.0001" 
        iyy="0.0001" 
        izz="0.0001" 
        ixy="0.0" 
        iyz="0.0" 
        ixz="0.0"
    />
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.005 0.005 0.005"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.005 0.005 0.005"/>
    </geometry>
  </collision>
</link>

<!-- Camera Link -->
<link name="camera_frame">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.1"/>
    <inertia 
        ixx="0.0001" 
        iyy="0.0001" 
        izz="0.0001" 
        ixy="0.0" 
        iyz="0.0" 
        ixz="0.0"
    />
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
  </collision>
</link>

<!-- Camera Joint -->
<joint name="base_camera_joint" type="fixed">
  <origin xyz="0 0 2.3" rpy="0 1.57 0"/>
  <parent link="camera_base"/>
  <child link="camera_frame"/>
</joint>

<gazebo reference="camera_frame">
  <sensor name="camera" type="camera">
    <ignition_frame_id>${robot_namespace}/camera_frame</ignition_frame_id>
    <optical_frame_id>${robot_namespace}/camera_frame</optical_frame_id>
    <camera>
      <horizontal_fov>1.085595</horizontal_fov>
      <image>
        <width>1920</width>
        <height>1080</height>
        <format>RGB_INT8</format>
      </image>
      <camera_info_topic>${robot_namespace}/camera/camera_info</camera_info_topic>
      <clip>
        <near>0.1</near>
        <far>10</far>
      </clip>
    <distortion>
        <k1>0.096559</k1>
        <k2>-0.237840</k2>
        <k3>0.113659</k3>
        <p1>0.000396</p1>
        <p2>0.000247</p2>
        <center>0.5 0.5</center>
      </distortion>
    </camera>
    <always_on>1</always_on>
    <update_rate>10</update_rate>
    <visualize>false</visualize>
    <topic>${robot_namespace}/camera/image_raw</topic>
    <enable_metrics>true</enable_metrics>
  </sensor>
</gazebo>


<link name="depth_frame">
</link>

<joint name="camera_depth_joint" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="camera_frame"/>
  <child link="depth_frame"/>
</joint>

<link name="optical_frame">
</link>

<joint name="camera_optical_joint" type="fixed">
  <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
  <parent link="depth_frame"/>
  <child link="optical_frame"/>
</joint>


<gazebo reference="depth_frame">
  <sensor name="rgbd_camera" type="rgbd_camera">
    <ignition_frame_id>${robot_namespace}/depth_frame</ignition_frame_id>
    <camera name="rgbd_camera_frame">
      <horizontal_fov>1.3962634</horizontal_fov>
      <lens>
        <intrinsics>
          <fx>762.7</fx>
          <fy>762.7</fy>
          <cx>640.0</cx>
          <cy>360.0</cy>
          <s>0</s>
        </intrinsics>
      </lens>
      <distortion>
        <k1>0.104207</k1>
        <k2>-0.255558</k2>
        <k3>0.128694</k3>
        <p1>0.000512</p1>
        <p2>0.000319</p2>
        <center>0.5 0.5</center>
      </distortion>
      <image>
        <width>1280</width>
        <height>720</height>
        <format>L8</format>
      </image>
      <clip>
        <near>0.01</near>
        <far>300</far>
      </clip>
      <depth_camera>
        <clip>
          <near>0.1</near>
          <far>10</far>
        </clip>
      </depth_camera>
      <noise>
        <type>gaussian</type>
        <mean>0</mean>
        <stddev>0.003</stddev>
      </noise>
    </camera>
    <always_on>1</always_on>
    <update_rate>10</update_rate>
    <visualize>0</visualize>
    <topic>${robot_namespace}/depth_camera</topic>
  </sensor>
</gazebo>
</robot>


